<div *ngIf="isAuthenticated; else loginPage">
  <nav class="top-nav">
    <div>
      <mat-icon
        class="log-out-btn"
        (click)="navigateHome()"
        matTooltip="{{ 'tooltips.goHome' | translate }}"
        aria-label="Go home">home</mat-icon>
      <mat-icon
        class="log-out-btn"
        (click)="logOut()"
        matTooltip="{{ 'tooltips.logOut' | translate }}"
        aria-label="Log out">power_settings_new</mat-icon>
    </div>
    <div [matMenuTriggerFor]="menu" aria-label="Choose language" class="choose-lang" matTooltip="{{ 'tooltips.chooseLang' | translate }}">
      <span [class]="'fi fi-' + currentFlagKey + ' lang-flag'"></span>
      <mat-icon class="lang-icon">keyboard_arrow_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang)">
        <span [class]="'fi fi-' + lang.flagKey + ' lang-flag'"></span>
        <span>{{ 'languages.' + lang.langName.toLowerCase() | translate }}</span>
      </button>
    </mat-menu>
  </nav>
  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loginPage>
  <app-login *ngIf="!createNewAccount; else registerPage" (registerBtnClick)="handleRegisterBtnClick()"></app-login>
  <ng-template #registerPage>
    <app-register (loginBtnClick)="handleLoginBtnClick()"></app-register>
  </ng-template>
</ng-template>

