.router-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 1rem 0;
}

.log-out-btn {
  padding: .5rem;
  border-radius: 50%;
}

.log-out-btn:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

.top-nav {
  background-color: #e4e4e4;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}
