.wrapper {
  padding: 2rem 4rem;
}

.create-group-form {
  display: flex;
  flex-direction: column;
}

.create-group-heading {
  margin-bottom: 2rem;
}

.create-group-btn {
  width: 100%;
  margin-top: 2rem;
}

