<div class="container">
  <h1>Edit race</h1>
  <hr style="margin-bottom: 1rem;">
  <form *ngIf="race && race?.name !== undefined && raceDate; else loading" (ngSubmit)="onSubmit()" #updateRaceForm="ngForm" class="update-form">
    <div class="flex-col w-100">
      <h3>Name</h3>
      <mat-form-field>
        <input
          matInput
          placeholder="Race name"
          id="name"
          name="name"
          [(ngModel)]="race!.name"
          required>
      </mat-form-field>
    </div>
    <div class="calendars">
      <div class="flex-col">
        <h3>Race date</h3>
        <mat-card class="inline-calendar-card">
          <mat-calendar [(selected)]="raceDate" [startAt]="startAt"></mat-calendar>
          <div class="divider"></div>
            <app-time-picker [hours]="raceHours" [minutes]="raceMinutes" (hoursChange)="onRaceHoursChange($event)" (minutesChange)="onRaceMinutesChange($event)"></app-time-picker>
        </mat-card>
      </div>
      <div class="flex-col deadline-calendar">
        <h3>Deadline</h3>
        <mat-card class="inline-calendar-card">
          <mat-calendar [(selected)]="raceDateDeadline" [startAt]="startAtDeadline"></mat-calendar>
          <div class="divider"></div>
          <app-time-picker [hours]="deadlineHours" [minutes]="deadlineMinutes" (hoursChange)="onDeadlineHoursChange($event)" (minutesChange)="onDeadlineMinutesChange($event)"></app-time-picker>
        </mat-card>
      </div>
    </div>
    <div class="calendar-tabs">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Race date">
          <mat-card class="inline-calendar-card">
            <mat-calendar [(selected)]="raceDate" [startAt]="startAt"></mat-calendar>
            <div class="divider"></div>
            <app-time-picker [hours]="raceHours" [minutes]="raceMinutes" (hoursChange)="onRaceHoursChange($event)" (minutesChange)="onRaceMinutesChange($event)"></app-time-picker>
          </mat-card>
        </mat-tab>
        <mat-tab label="Deadline date">
          <mat-card class="inline-calendar-card">
            <mat-calendar [(selected)]="raceDateDeadline" [startAt]="startAtDeadline"></mat-calendar>
            <div class="divider"></div>
            <app-time-picker [hours]="deadlineHours" [minutes]="deadlineMinutes" (hoursChange)="onDeadlineHoursChange($event)" (minutesChange)="onDeadlineMinutesChange($event)"></app-time-picker>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="action-btn-row">
      <button (click)="onCancelBtnClick()" class="action-btn cancel-btn" type="button">Cancel</button>
      <button type="submit" [disabled]="!updateRaceForm.form.valid" class="action-btn update-btn">Update</button>
    </div>
  </form>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
