<div class="container">
  <h1>Edit race</h1>
  <hr style="margin-bottom: 1rem;">
  <form (ngSubmit)="onSubmit()" #updateRaceForm="ngForm" class="update-form">
    <mat-form-field *ngIf="race?.name !== undefined">
      <input
        matInput
        placeholder="Race name"
        id="name"
        name="name"
        [(ngModel)]="race!.name"
        required>
    </mat-form-field>
    <div class="action-btn-row">
      <button mat-button (click)="onCancelBtnClick()" class="cancel-btn" type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!updateRaceForm.form.valid" class="update-btn">Update</button>
    </div>
  </form>
</div>
