.container {
  padding: 1rem;
  width: 40vw;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.action-btn-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cancel-btn {
  margin-right: .5rem;
}

.update-btn {
  margin-left: .5rem;
}

.calendars {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.inline-calendar-card {
  width: 100%;
}

.flex-col {
  display: flex;
  width: 45%;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.divider {
  height: 1px;
  background-color: rgb(224, 224, 224);
}
