<div class="drop-row">
  <span>{{ timer }}</span>
  <div class="index-list">
    <span *ngFor="let driver of drivers; let i = index" class="index">{{ i + 1 }}</span>
  </div>
  <div cdkDropList class="driver-list" (cdkDropListDropped)="drop($event)">
    <div class="driver-box" *ngFor="let driver of drivers" cdkDrag>
      <app-driver-name [driver]="driver"></app-driver-name>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="savePredictions()" class="save-predictions-btn" [disabled]="!madeChanges">Save</button>
</div>

