.row {
  display: flex;
  align-items: center;
}

.circle {
  margin-right: .5rem;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  display: inline-block;
}

.confirm-text {
  margin-left: .5rem;
  font-size: 1rem;
}
