<div class="wrapper">
  <h1>{{ 'home.createOrJoin' | translate }}</h1>
  <div class="create-join-row">
    <button class="group-btn create-btn" (click)="openCreateGroupDialog()">{{ 'home.create' | translate }}</button>
    <span style="color: gray;">{{ 'home.or' | translate }}</span>
    <button class="group-btn join-btn" (click)="openJoinGroupDialog()">{{ 'home.join' | translate }}</button>
  </div>
  <h1 class="your-groups">{{ 'home.yourGroups' | translate }}</h1>
  <app-group-list *ngIf="groups.length > 0; else noGroups" [groups]="groups" (leaveGroupClick)="handleLeaveGroupClick($event)"></app-group-list>
  <ng-template #noGroups>
    <div class="no-groups"><h3>{{ 'home.noGroups' | translate }}</h3></div>
  </ng-template>
</div>
