<div class="wrapper">
  <div class="login-card">
    <div class="login-heading">Login</div>
    <form *ngIf="loginForm !== undefined" [formGroup]="loginForm" class="login-form ">
      <mat-form-field class="login-form-field">
        <input
          matInput
          placeholder="Your username"
          formControlName="username">
      </mat-form-field>
      <mat-form-field class="login-form-field">
        <input
          type="password"
          matInput
          placeholder="Your password"
          formControlName="password">
      </mat-form-field>
      <button class="login-btn" (click)="login()" [disabled]="loginForm.invalid">Login</button>
      <span *ngIf="!areCredentialsCorrect; else emptySpace" style="color: red; margin-top: 1rem;">Invalid username or password</span>
      <ng-template #emptySpace>
        <span style="margin-top: 2rem;"></span>
      </ng-template>
      <button class="no-account-btn" mat-button (click)="registerBtnClicked()">Don't have an account?</button>
    </form>
  </div>
</div>
