.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.test-btn {
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login-form-field {
  width: 100%;
}

.login-btn {
  text-transform: uppercase;
  width: 100%;
  margin-top: 1rem;
  padding: 1em;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 2em;
  border: none;
  // color: white;
  // background-image: linear-gradient(to right, #FF057C 0%, #8D0B93 50%, #321575 100%);
  color: black;
  background-color: rgb(69, 255, 69);
}

.login-btn:disabled {
  background-image: none;
  background-color: darkgrey;
}

.login-btn:not(:disabled):hover {
  cursor: pointer;
  background-color: #00e200;
  // background-image: linear-gradient(to right, #c3005c 0%, #69086e 50%, #250f57 100%);
}

.no-account-btn {
  margin-top: 6rem;
}

@media (max-width: 2000px) {
  .login-card {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .login-card {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .login-card {
    width: 80%;
  }
}
