.group-card {
  width: 400px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group-card:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.group-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.group-menu {
  padding: 1rem;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
