.race-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.username {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.points {
  font-size: 1.2rem;
  margin-left: .5rem;
}

.item {
  margin: 1rem;
}
