<div class="wrapper" [ngClass]="{'scroll-offset' : filteredRaces.length < 6}">
  <div *ngIf="!isAdmin && races.length > 0">
    <table>
      <thead>
        <tr>
          <th class="lp"></th>
          <th>{{ 'race.statTable.player' | translate }}</th>
          <th class="optional">{{ 'race.statTable.worst' | translate }}</th>
          <th class="optional">{{ 'race.statTable.best' | translate }}</th>
          <th class="optional">{{ 'race.statTable.average' | translate }}</th>
          <th>{{ 'race.statTable.total' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataArray; let i = index">
          <td class="lp">{{ i + 1 }}</td>
          <td>{{ userId2Users.get(data[0])?.username }}</td>
          <td class="optional">{{ data[1].min | toFixedString:2}}</td>
          <td class="optional">{{ data[1].max | toFixedString:2}}</td>
          <td class="optional">{{ data[1].avg | toFixedString:2}}</td>
          <td>{{ data[1].total | toFixedString:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="filter-row" *ngIf="races.length > 0">
    <mat-form-field class="search-field">
      <input matInput type="text" placeholder="Search..." [(ngModel)]="query" (ngModelChange)="onSearchQueryChange($event)"/>
      <button *ngIf="query; else emptySpace" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <ng-template #emptySpace>
        <button matSuffix mat-icon-button aria-label="Search" disabled>
          <mat-icon>search</mat-icon>
        </button>
      </ng-template>
    </mat-form-field>
    <mat-checkbox class="next-race-checkbox" color="primary" [(ngModel)]="showNextRaceOnly" (ngModelChange)="nextRaceOnly()">Next race</mat-checkbox>
  </div>
  <div *ngIf="races.length > 0; else noRaces" class="race-list">
    <app-race *ngFor="let race of filteredRaces"
      [race]="race"
      [isAdmin]="isAdmin === 1"
      [isNextRace]="race === nextRace"
      (raceClick)="handleRaceClick($event)"
      (editRaceClick)="openEditRaceDialog($event)"
      (resultsBtnClick)="handleResultsBtnClick($event)"
      (pointsBtnClick)="handlePointsBtnClick($event)"
    ></app-race>
  </div>
  <ng-template #noRaces>
    <div class="no-races">{{ 'race.comingSoon' | translate }}</div>
  </ng-template>
  <div *ngIf="races.length > 0 && filteredRaces.length === 0" class="no-races">{{ 'race.noRacesFound' | translate }}</div>
</div>
