.race-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: left;
}

.wrapper {
  width: 70vw;
  padding: 1rem;
  text-align: center;
}

.username {
  font-size: 1.2rem;
  margin-right: .5rem;
  font-weight: bold;
}

.points {
  font-size: 1.2rem;
  margin-left: .5rem;
}

.item {
  margin: 1rem;
}

table {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0.1rem;
}

th, td {
  width: 19%;
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.lp {
  width: 5%;
}

th {
  color: #f2f2f2;
  background-color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: #f5f5f5;
}

.current-user {
  background-color: #e4e4e4;
}

.current-user:hover {
  background-color: #d3d3d3;
}

.scroll-offset {
  margin-right: 0.6rem;
}

.min, .max, .average, .total {
  text-align: right;
}

.no-races {
  font-size: 1.2rem;
  color: #555;
}

.filter-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.search-field {
  margin-right: 1rem;
}

@media (max-width: 1920px) {
  .wrapper {
    width: 80vw;
  }
}

@media (max-width: 1200px) {
  .race-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    width: 90vw;
  }
}

@media (max-width: 760px) {
  .optional {
    display: none;
  }
  .race-list {
    grid-template-columns: 1fr;
  }
  .wrapper {
    width: unset;
  }
  .search-field {
    width: 60%;
  }
  .scroll-offset {
    margin-right: 0;
  }
}
