<div class="wrapper">
  <div *ngIf="!isAdmin && races.length > 0">
    <table>
      <thead>
        <tr>
          <th class="lp"></th>
          <th>Player</th>
          <th class="optional">Worst</th>
          <th class="optional">Best</th>
          <th class="optional">Average</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataArray; let i = index">
          <td class="lp">{{ i + 1 }}</td>
          <td>{{ userId2Users.get(data[0])?.username }}</td>
          <td class="optional">{{ data[1].min | toFixedString:2}}</td>
          <td class="optional">{{ data[1].max | toFixedString:2}}</td>
          <td class="optional">{{ data[1].avg | toFixedString:2}}</td>
          <td>{{ data[1].total | toFixedString:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="races.length > 0; else noRaces" class="race-list">
    <app-race *ngFor="let race of races"
      [race]="race"
      [isAdmin]="isAdmin === 1"
      [isNextRace]="race === nextRace"
      (raceClick)="handleRaceClick($event)"
      (editRaceClick)="openEditRaceDialog($event)"
      (resultsBtnClick)="handleResultsBtnClick($event)"
      (pointsBtnClick)="handlePointsBtnClick($event)"
    ></app-race>
  </div>
  <ng-template #noRaces>
    <div class="no-races">Coming soon...</div>
  </ng-template>
</div>
