<div class="race-card" (click)="raceClicked()" [ngClass]="{
  'next-race': isNextRace,
  'race': !isNextRace,
  'no-hover': isAdmin
}">
  <div class="wrapper" [ngClass]="{
    'next-race-wrapper': isNextRace,
    'race-wrapper': !isNextRace,
    'no-hover-wrapper': isAdmin
  }">
    <div class="row">
      <div class="race-country">{{ race?.country }}</div>
      <mat-icon *ngIf="isAdmin" (click)="editRaceClicked($event)" class="edit-icon">edit</mat-icon>
    </div>
    <div class="race-date-row">
      <mat-icon>date_range</mat-icon>
      <span class="race-date">{{ race?.date | date : 'longDate' }}</span>
    </div>
    <div truncateText class="race-name">{{ race?.name }}</div>
    <span [class]="'fi fi-' + race?.countryCode?.toLowerCase() + ' race-flag'"></span>
    <div *ngIf="isAdmin" class="race-buttons">
      <button class="race-btn results-btn" (click)="resultsBtnClicked($event)">{{ 'race.update.results' | translate }}<mat-icon>chevron_right</mat-icon></button>
      <button class="race-btn points-btn" (click)="pointsBtnClicked($event)">{{ 'race.update.points' | translate }}<mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</div>
