.race-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.race-card:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.race-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.race-flag {
  width: 200px;
  height: 100px;
}

.fi {
  background-position: 0%;
}
