.race-card {
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.race-card:hover {
  cursor: pointer;
}

.race-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.race-flag {
  display: inline-block;
  width: 150px;
  height: 100px;
  border-radius: .2rem;
  border: .5px solid gray;
  overflow: hidden;
}

.fi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-icon {
  padding: .5rem;
  border-radius: 50%;
}

.edit-icon:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

.race {
  background-color: white;
}

.race:hover {
  background-color: #e4e4e4;
}

.next-race {
  background-color: #d3d3d3;
}

.next-race:hover {
  background-color: #c2c2c2;
}

.race-buttons {
  margin-top: 2rem;
}

.results-btn {
  margin-right: 1rem;
}
