.row {
  display: flex;
}

.small-screen {
  display: none;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.race-over {
  font-size: 1.1rem;
  color: #555;
  margin-right: .5rem;
}

.flag-img {
  margin-left: .5rem;
}

.timer-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-group {
  border-top: 1px solid #d3d3d3;
}

.prediction-container {
  margin: 2rem 1rem;
}

.bigger-font {
  font-size: 1.1rem !important;
}

.gray-color {
  color: #555 !important;
}

.w-100 {
  width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.prediction-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.confirm-status-container {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: darkgreen;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.saved {
  margin-right: .5em;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: .5rem;
}

.total-points {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.purple {
  width: 50%;
  border-radius: 5px;
  border: 2px solid #a624de;
  margin-right: .5rem;
}

.gray {
  width: 50%;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  margin-left: .5rem;
}

.gray-text {
  font-weight: bold;
  color: #555;
}

.fl-dnf {
  width: calc(50% - 1rem);
}

.fl-dnf-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.m-bottom {
  margin-bottom: .5rem;
}

.m-top {
  margin-top: .5rem;
}

@media (max-width: 768px) {
  .username {
    font-size: 1.3rem;
    margin-left: .5rem;
  }
  .flex-col {
    padding: 0.8rem;
  }
  .small-screen {
    display: block;
  }
  .big-screen {
    display: none;
  }
  .space-between {
    flex-direction: column;
    justify-content: flex-start;
  }
  .fl-dnf {
    width: 100%;
  }
}
