.row {
  display: flex;
}

.race-over {
  font-size: 1.1rem;
  color: #555;
  margin-right: .5rem;
}

.flag-img {
  margin-left: .5rem;
}

.timer-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-group {
  border-top: 1px solid #d3d3d3;
}

.prediction-container {
  margin: 2rem 1rem;
}

.prediction-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
  align-items: center;
}

.confirm-status-container {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: darkgreen;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.saved {
  margin-right: .5em;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: .5rem;
  margin-left: 2.5rem;
}

.total-points {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.big-margin {
  margin-left: 2.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.purple {
  width: 50%;
  border-radius: 5px;
  border: 2px solid #a624de;
  margin-right: .5rem;
}

.gray {
  width: 50%;
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  margin-left: .5rem;
}

.gray-text {
  font-weight: bold;
  color: #555;
}

@media (max-width: 768px) {
  .username {
    font-size: 1.3rem;
    margin-left: 1.5rem;
  }
  .big-margin {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .flex-col {
    padding: 0.8rem;
  }
}
